<div class= "maimim">
<div class="notification_body_main">
  <div class="notification_body">
        <div class = "snkr_notification_title">
          <h3>通知</h3>
        </div>
        <div>
          <% if @notifications.exists? %>
            <div class="users-index">
              <%= render @notifications  %>
            </div>
          <% else %>
          <div class="users-index">
            <p>通知はありません</p>
          </div>
          <% end %>
        </div>
    
  </div>
</div>
<div>