<% if current_user.id == @user.id %>
  <h3>チャット一覧</h3>
  <% @rooms.each do |r| %>
    <% r.users.each do |u| %>
     <% if u.id == current_user.id %>
     <% else %>
        <p><%= link_to "#{u.name}さんとのチャット", snkr_offer_room_path(r.snkr_id, r.offer_id, r.id)  %></p>
        
       
     <% end %>
    <% end %> 
  <% end %>
<% else %>

<% end %>