/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css?family=Varela+Round');
 html, body {
     overflow-x: hidden;
     height: 100%;
    
 }
 *{
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
 }
 body {
    position: relative;
    z-index:-5;
    
 }
 .header {
     display: flex;
     margin: 0 auto;
     width: 100%;
     max-width: 100%;
     box-shadow: none;
     background-color: rgba(0, 0, 0,1);
     position: fixed;
     height: 60px!important;
     
     z-index: 10;
     
     
 }

 .notification_container{
     margin: 0 auto;
     width:100%;
     position: relative;
 }
 .header_icon_wrapper{
     width: 100%;
     height: 100%;
     background-color: rgb(0, 0, 0);
    
    
 }
 .header_icon_container{
     width: 40%;
     height: 100%;
     float: right;
     
     background-color: rgb(0, 0, 0);
 }
 .snkr_icon_main{
     display: flex;
     justify-content: space-around;
     
     
 }
 .snkr_home a{
     display: flex;
     margin-top: 17px;
     text-decoration: none;
     color: white;
 }
 .snkr_itiran{
     display: flex;
     margin-top: 17px;
     color: white;
 }
 .snkr_bell a{
     display: flex;
     margin-top: 17px;
     text-decoration: none;
     color: white;
 }
 .snkr_image_image{
     display: flex;
     margin-top: 10px;
     margin-right: 30px;
 }
 .snkr_image_image img{
     border-radius: 50%;
     border: 2px solid rgb(141, 141, 141);
     
 }
 .snkr_image_image p{
    font-family: 'Varela Round', sans-serif;
    font-size:18px;
    color: white;
    padding-top: 6px;

}
 .icon_header{
     margin-right: 12px;
     
 }
 


 .main {
     margin: 0 auto;
     display: block;
     margin-top: 60px;
 }
 .mainInner{
     display: table;
     height: 100%;
     width: 100%;
     text-align: center;
 }
 .mainInner div{
     display:table-cell;
     vertical-align: middle;
     font-size: 3em;
     font-weight: bold;
     letter-spacing: 1.25px;
 }
 #sidebarMenu {
     height: 100%;
     position: fixed;
     left: 0;
     width: 250px;
     margin-top: 60px;
     transform: translateX(-250px);
     transition: transform 250ms ease-in-out;
     background: linear-gradient(180deg, #000000 0%, #969494 100%);
 }
 .sidebarMenuInner{
     margin:0;
     padding:0;
     border-top: 1px solid rgba(255, 255, 255, 0.10);
 }
 .sidebarMenuInner li{
     list-style: none;
     color: #fff;
     text-transform: uppercase;
     font-weight: bold;
     padding: 20px;
     cursor: pointer;
     border-bottom: 1px solid rgba(255, 255, 255, 0.10);
 }
 .sidebarMenuInner li span{
     display: block;
     font-size: 14px;
     color: rgba(255, 255, 255, 0.50);
 }
 .sidebarMenuInner li a{
     color: #fff;
     text-transform: uppercase;
     font-weight: bold;
     cursor: pointer;
     text-decoration: none;
 }
 input[type="checkbox"]:checked ~ #sidebarMenu {
     transform: translateX(0);
 }
 
 input[type=checkbox] {
     transition: all 0.3s;
     box-sizing: border-box;
     display: none;
 }
 .sidebarIconToggle {
     transition: all 0.3s;
     box-sizing: border-box;
     cursor: pointer;
     position: absolute;
     z-index: 99;
     height: 100%;
     width: 100%;
     top: 22px;
     left: 15px;
     height: 22px;
     width: 22px;
     position: fixed;
 }
 .spinner {
     transition: all 0.3s;
     box-sizing: border-box;
     position: absolute;
     height: 3px;
     width: 100%;
     background-color: #fff;
 }
 .horizontal {
     transition: all 0.3s;
     box-sizing: border-box;
     position: relative;
     float: left;
     margin-top: 3px;
 }
 .diagonal.part-1 {
     position: relative;
     transition: all 0.3s;
     box-sizing: border-box;
     float: left;
 }
 .diagonal.part-2 {
     transition: all 0.3s;
     box-sizing: border-box;
     position: relative;
     float: left;
     margin-top: 3px;
 }
 input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
     transition: all 0.3s;
     box-sizing: border-box;
     opacity: 0;
 }
 input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
     transition: all 0.3s;
     box-sizing: border-box;
     transform: rotate(135deg);
     margin-top: 8px;
 }
 input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
     transition: all 0.3s;
     box-sizing: border-box;
     transform: rotate(-135deg);
     margin-top: -9px;
 }

.modal{
    position:relative;
    z-index:100;
    cursor: pointer;
}
.modal2{
    position:relative;
    z-index:100;
    cursor: pointer;
}
.modal_item{
    position:absolute;
    top:36px;
    right:-2px;
    width:160px;
    height: 190px;
    background-color: rgb(88, 88, 88);
    border-radius: 10px;
    display: none;
}
.ccc{
    position:absolute;
    top:36px;
    right:-2px;
    width:150px;
    height: 120px;
    background-color: rgb(88, 88, 88);
    border-radius: 10px;
    display: none;
}
.snkr_image_image_item_item{
    text-align: center;
    border-radius: 10px;

}

.mendokusai{
    border-radius: 10px;
}
.snkr_image_image_item_item p{
    margin: 10px;
    border-radius: 10px;
}
.snkr_image_image_item_item p:hover{
    background-color: rgb(175, 175, 175);
}
.snkr_image_image_item_item a{
    font-family: 'Varela Round', sans-serif;
    font-size:18px;
    color: white;
  
    text-decoration: none;
    
}
.snkr_image_image_item_snkr{
    text-align: center;
    border-radius: 10px;
}
.snkr_image_image_item_snkr p{
    border-radius: 10px;
    margin: 10px;
}
.snkr_image_image_item_snkr p:hover{
    background-color: rgb(175, 175, 175);
}
.snkr_image_image_item_snkr a{
    font-family: 'Varela Round', sans-serif;
    font-size:15px;
    color: white;
    margin-top: 10px;
    text-decoration: none;
    
}
.snkr_bell_bell{
    position: relative;
}
.maru_maru{
    position: absolute;
    padding-left: 1rem;
    padding-top: 0rem;
    
    
}
footer{

    color: white;
    height: 52px;
    background-color: #000;
    bottom: 0;
    width: 100%;
    text-align: center;
   
}
footer p{
    font-family: 'Shadows Into Light', cursive;
    font-size:30px;
    text-shadow: 2px 2px 2px #000;
}