// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.dm_show_wrapper{
    height: 100%;
    background-color: rgb(189, 189, 189);
    
}
.dm_show_container{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
}
.dm_show_title{
    width: 30%;
    margin: 0px auto;
    font-size:30px;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
}
.dm_show_title h1{
    font-family: 'Shadows Into Light', cursive;
    color: white;
}
.dm_show_contents{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    
}
.dm_show_contents_snkr{
    width: 26%;
    background-color: white;
    text-align: center;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(117, 117, 117);
}
.dm_show_contents_snkr p{
    font-family: 'Varela Round', sans-serif;
    font-size:18px;
    color: rgb(0, 0, 0);
    padding-top: 2px;
    padding-bottom: 2px;
}
.dm_show_contents_snkr h3{
    font-family: 'Varela Round', sans-serif;
    font-size:16px;
    color: rgb(0, 0, 0);
}
.snkr_dm_img_container img{
    border-radius: 10px;
    border: 1px solid rgb(83, 83, 83);
    margin: 10px;
}










.majimein{
    padding-top: 10px;
    background-color: rgb(189, 189, 189);
    padding-bottom: 30px;
  
}
.main_container{
    width: 80%;
   

    margin: 0 auto;
}
.right_container{  
    width: 100%;
    background-color: rgb(255, 255, 255);  
    border-radius: 10px;
    margin: 15px 0;
    padding: 30px;
}
.right_content{
    
    width: 50%;
    margin: 0 0 0 auto;
    border-radius: 10px;
    text-align: right;
    
}
.right_message{
    width:100%;
    margin-right: 10px;
}
.righr_item{
    width: 100%;
    display: flex;
    padding-top: 15px;
    
}

.message_line{
    display: inline-block;
    max-width:90%;
    background-color: rgb(131, 228, 86);
    box-shadow: 1px 2px 2px rgb(70, 69, 69);
    border-radius: 5px;
    padding:2px 8px;
    text-align: start;
}


.right_image img{
    border-radius: 50%;
    border: 1px solid rgb(83, 83, 83);

}
.left_time{
   
    color: rgba(146, 146, 146, 0.6);
    font-size: 15px;
}
.message_btn_container{
    width: 100%;
    margin:0 auto;
    text-align: center;
    
}
.right_time{
    color: rgba(146, 146, 146, 0.6);
    font-size: 15px;
}
.left_item{
   
    width: 100%;
    display: flex;
    padding-top: 15px;
   
}
.left_content{
    
    width: 50%;
    display: flex;
}
.left_message{
    width:100%;
    margin-left: 10px;
    border: darkcyan;

}
.left_message_line{
    display: inline-block;
    max-width:90%;
    background-color: rgb(67, 208, 255);
    box-shadow: 1px 2px 2px rgb(70, 69, 69);
    border-radius: 5px;
    padding:2px 8px;

}
.left_image img{
    border: 1px solid rgb(83, 83, 83);
    border-radius: 50%;
}